# Maven/Java
/target/
*.class
*.log
*.ctxt
hs_err_pid*

# Maven release helpers
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/pom.xml.next
/release.properties
/dependency-reduced-pom.xml
/buildNumber.properties
/.mvn/timing.properties
/.mvn/wrapper/maven-wrapper.jar
/.flattened-pom.xml

# IDEs
/.idea/
/*.iml
/*.ipr
/*.iws
/.vscode/

# Local tools
/.fastRequest/
/.todo/
/run/

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
